.expenses {
    padding: 1rem;
    background-color: rgb(87, 77, 114);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(68, 48, 109, 0.25);
  }